{% extends 'user/master.html' %}

{% block main %}
 <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <!-- Start Navigation -->
			{% include 'sections/default-topnav.html' %}
			<!-- End Navigation -->
		
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
			
			<!-- ============================ Hero Banner  Start================================== -->
			{% include 'sections/top-banner.html' %}
			<!-- ============================ Hero Banner End ================================== -->
			
			<!-- ============================ Property Type Start ================================== -->
			{% include 'sections/featured-property.html' %}
			<!-- ============================ Property Type End ================================== -->
			
			<!-- ============================ Featured Property Start ================================== -->
			{% include 'sections/property-section-1.html' %}
			<!-- ============================ Featured Property End ================================== -->
			
			<!-- ============================ Property Start ================================== -->
			{% include 'sections/property-section-2.html' %}
			<!-- ============================ Property End ================================== -->
			
			<!-- ============================ Browse Place ================================== -->
			{% include 'sections/header-2.html' %}
			<!-- ============================ Browse Place End ================================== -->
			
			<!-- ============================ Step How To Use Start ================================== -->
			{% include 'sections/how-its-work.html' %}
			
			<!-- ============================ Step How To Use End ================================== -->
			{% comment %} this is test {% endcomment %}
			<!-- ============================ partner Start ================================== -->
			{% include 'sections/features-partners.html' %}
			<!-- ============================ partner End ================================== -->
{% endblock main %}