	{% load static %}
	<section>
				<div class="container">
					
					<div class="row">
						<div class="col text-center">
							<div class="sec-heading center">
								<h2>Our Featured Partners</h2>
								<p>See Who Will work with us</p>
							</div>
						</div>
					</div>
					
					<div class="row">
						
						<!-- Single Partner -->
						<div class="col-md-3 col-sm-4 col-lg">
							<div class="partner-grid">
								<img src="{% static 'assets/img/brand-1.png' %}" class="img-fluid" alt="" />
							</div>
						</div>
						
						<!-- Single Partner -->
						<div class="col-md-3 col-sm-4 col-lg">
							<div class="partner-grid">
								<img src="{% static 'assets/img/brand-2.png' %}" class="img-fluid" alt="" />
							</div>
						</div>
						
						<!-- Single Partner -->
						<div class="col-md-3 col-sm-4 col-lg">
							<div class="partner-grid">
								<img src="{% static 'assets/img/brand-3.png' %}" class="img-fluid" alt="" />
							</div>
						</div>
						
						<!-- Single Partner -->
						<div class="col-md-3 col-sm-4 col-lg">
							<div class="partner-grid">
								<img src="{% static 'assets/img/brand-4.png' %}" class="img-fluid" alt="" />
							</div>
						</div>
						
						<!-- Single Partner -->
						<div class="col-md-3 col-sm-4 col-lg">
							<div class="partner-grid">
								<img src="{% static 'assets/img/brand-5.png' %}" class="img-fluid" alt="" />
							</div>
						</div>
						
						<!-- Single Partner -->
						<div class="col-md-3 col-sm-4 col-lg">
							<div class="partner-grid">
								<img src="{% static 'assets/img/brand-6.png' %}" class="img-fluid" alt="" />
							</div>
						</div>
						
					</div>
					
				</div>
			</section>
			<div class="clearfix"></div>