<section class="gray">
				<div class="container">
					
					<div class="row">
						<div class="col text-center">
							<div class="sec-heading center">
								<h2>How It Works?</h2>
								<p>How to start work with us and working process</p>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-lg-4 col-md-4 flic">
							<div class="services_icons_features">
								<div class="services_icons_features-item">
									<div class="services_icons_latge_features_wrap"><i class="ti-user"></i></div>
									<div class="services_icons_features-content">
										<h4>Create An Account</h4>
										<p>There are many variations of passages of Lorem Ipsum available, but the majority have Ipsum available.</p>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-lg-4 col-md-4 flic">
							<div class="services_icons_features colors">
								<div class="services_icons_features-item">
									<div class="services_icons_latge_features_wrap"><i class="ti-search"></i></div>
									<div class="services_icons_features-content">
										<h4>Find & Search Property</h4>
										<p>There are many variations of passages of Lorem Ipsum available, but the majority have Ipsum available.</p>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-lg-4 col-md-4 flic">
							<div class="services_icons_features">
								<div class="services_icons_features-item">
									<div class="services_icons_latge_features_wrap"><i class="ti-location-arrow"></i></div>
									<div class="services_icons_features-content">
										<h4>Book your Property</h4>
										<p>There are many variations of passages of Lorem Ipsum available, but the majority have Ipsum available.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</section>
            <div class="clearfix"></div>